table

{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
.input, .button, .select {
    margin:1;
}
.button { background-color:#fcfcfc;}
.green { 	background: #0e6612; }
.red { 	background: #a04f0c; }
.grasrouge{font-weight:bold;color:red;}